<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<h1>Список автомобилей:</h1>
<table border="1">
    <thead>
    <tr>
        <th>Model</th>
        <th>Color</th>
        <th>Year</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${carsList}">
        <td th:text="${car.model}"></td>
        <td th:text="${car.color}"></td>
        <td th:text="${car.year}"></td>
    </tr>
    </tbody>
</table>

<p>Кнопки чтобы не писать ручками "?count=n"</p>
<a href="/cars?count=1">count = 1</a><br>
<a href="/cars?count=2">count = 2</a><br>
<a href="/cars?count=3">count = 3</a><br>
<a href="/cars?count=4">count = 4</a><br>
<a href="/cars?count=5">count = 5</a><br>
<a href="/cars?count=100">count = 100</a><br>
</body>
</html>